@use '../config/variable' as *;
@use '../config/mixin' as *;

.bed-room{
    @include imageRatio(618,401, true,cover, 'image-one');
    @include imageRatio(356,209, true,cover, 'image-two');
    padding-top: 106px;
    padding-bottom: 125px;
    background-color:#ECF3EF;
    &__grid{
        display: grid;
        grid-template-columns:60% 40% ;
        align-items: center;
    }

    &__info-container{
        padding-left: 128px;
    }

    &__images-container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__image-one-container{
        margin-left: auto;
    }

    &__image-two-container{
        position: relative;
        margin-top: -68px;
        z-index: 1;
    }

    &--right{
        @extend .bed-room;
        .bed-room__grid{
            grid-template-columns: 40%  60%;
        }
        .bed-room__info-container{
            padding-right: 128px;
            padding-left: 0px;
            order: 1;
        }
        .bed-room__images-container{
            order: 2;
        }
        .bed-room__image-one-container{
            margin-left: 0px;
        }
    
        .bed-room__image-two-container{
            margin-left: auto;
        }
    }

    @media only screen and (min-width: 1920px) {
        @include imageRatio(680,441, true,cover, 'image-one');
        @include imageRatio(480,282, true,cover, 'image-two');
    }

    @media only screen and (max-width: 1399.98px) {
        padding-top: 80px;
        padding-bottom: 80px;
        &__grid{
            grid-template-columns:50% 50% ;
        }
        &__info-container{
            padding-left: 20%;
        }
        &__image-one-container{
            width: 85%;
        }
    
        &__image-two-container{
            width: 55%;
        }

        &--right{
            .bed-room__grid{
                grid-template-columns: 50%  50%;
            }
            .bed-room__info-container{
                padding-right: 20%;
            }
        }
    }
    @media only screen and (max-width: 1199.98px) {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    @media only screen and (max-width: 991.98px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media only screen and (max-width: 767.98px) {
        padding-top: 50px;
        padding-bottom: 50px;
        &__grid{
            grid-template-columns:1fr;
        }
        &__images-container{
            margin-bottom: 36px;
        }
        &__info-container{
            padding-left: 0px;
        }
        &--right{
            .bed-room__grid{
                grid-template-columns: 1fr;
            }
            .bed-room__info-container{
                order: 2;
            }
            .bed-room__images-container{
                order: 1;
            }
        }
    }
}