@use '../config/_variable.scss' as *;
@use '../config/_mixin.scss' as *;
@use '../components/cards/_card-article.scss' as *;

.latest-articles{
    position: relative;
    padding-top: 114px;
    padding-bottom: 142px;
    &__header{
        position: relative;
        display: flex;
        justify-content: space-between;
        z-index: 2;
    }

    &__title{
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #231F20;
        
    }

    &__grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px 21px;
        margin-top: 44px;
    }

    @media only screen and (max-width: 767.98px) {
        display: none;
    }
}