@use '../../../config/variable' as *;
@use '../../../config/mixin' as *;
.my-account{
    .woocommerce-MyAccount-navigation{
        ul{
            padding: 10px;
            list-style: none;
            border: 1px solid $border-color;
        }

        li{
            margin-bottom: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            border-bottom: 1px solid $border-color;
            &:last-child{
                margin-bottom: 0px;
                padding-bottom: 0px;
                border-bottom: none;
            }
            &.is-active a{
                color: #607D8B;
            }
        }

        a{
            display: block;
            font-weight: 400;
            font-size: 18px;
            line-height: 36px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #676A6C;
            transition: 0.4s ease;

            &::before{
                transition: 0.4s ease;
                display: none;
            }

            &:hover {
                color: #607D8B;
            }
            &:hover::before{
                color: #607D8B;
                opacity: 1;
            }
        }
    }

    .woocommerce-MyAccount-content{
        font-weight: 400;
        font-size: 18px;
        line-height: 35px;
    }
}

.shop_table{
    width: 100%;

    .woocommerce-orders-table__cell{
        padding: 16px 0px;
    }
}