@use "../../config/_variable.scss" as *;
@use "../../config/_mixin.scss" as *;

.card-register {
    @include imageRatio(590, 718, false);
    display: flex;
    align-items: center;
    background-color: $white;
    width: 100%;

    &__form-container {
        width: 50%;
        padding: 50px 80px;
    }

    &__form-row {
        margin-bottom: 30px;
    }

    &__label-container {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__label {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 18px;
        line-height: 35px;
        color: $black-500;
    }

    &__required {
        color: $red-100;
    }

    &__image-container {
        width: 50%;
    }

    &__title {
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 36px;
        line-height: 72px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $primary;
    }

    &__register {
        padding: 20px 32px;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    &__lost_password {
        font-weight: 400;
        font-size: 18px;
        line-height: 35px;
        text-align: right;
        color: $primary;
    }

    @media only screen and (max-width: 1199.98px) {
        
        &__form-container {
            padding: 32px 42px;
        }

        &__form-row {
            margin-bottom: 20px;
        }

        &__label {
            margin-bottom: 8px;
            font-size: 16px;
            line-height: 24px;
        }

        &__title {
            margin-bottom: 20px;
            font-size: 27px;
            line-height: 32px;
        }

        &__lost_password {
            font-size: 16px;
            line-height: 32px;
        }
    }

    @media only screen and (max-width: 991.98px) {
        @include imageRatio(800, 600, false);
        flex-direction: column;
        &__image-container {
            width: 100%;
        }
        &__form-container {
            width: 100%;
        }
        &__form-row {
            margin-bottom: 16px;
        }

        &__form-container {
            padding: 24px 32px;
        }

        &__label {
            font-size: 14px;
            line-height: 16px;
        }
        &__lost_password {
            font-size: 14px;
            line-height: 16px;
        }
    }
}