@use  '../../../components/_payment-methods.scss';
@use  '../../../components/cards/_card-customer-order.scss';

.customer-details{
    margin-top: 80px;
}
.checkout-title{
    font-weight: 500;
    font-size: 36px;
    line-height: 72px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #29292A;
}

.woocommerce-message, .woocommerce-info, .woocommerce-error, .woocommerce-noreviews, p.no-comments {
    margin-bottom: 2.617924em;
    background-color: #0f834d;
    margin-left: 0;
    border-radius: 2px;
    color: #fff;
    clear: both;
    border-left: 0.6180469716em solid rgba(0,0,0,.15);
    padding: 1em 2em 1em 3.5em;
    position: relative;
    list-style: none outside;
}

.woocommerce-info, .woocommerce-noreviews, p.no-comments {
    background-color: #3d9cd2;
}

.woocommerce-info a{
    color: #fff;
}

#payment .place-order {
    margin-bottom: 0;
    float: none;
    width: 100%;
    margin-top: 32px;
}



.woocommerce-checkout-review-order-table{
    width: 100%;
    margin-bottom: 32px;

    &:not( .has-background ) tbody tr:nth-child(2n) td, fieldset, fieldset legend {
        background-color: #fbfbfb;
    }

    th {
        background-color: #f8f8f8;
        font-weight: 700;
    }
    thead th,
    tfoot th {
        padding: 24px;
        vertical-align: middle;
    }

    tbody td,
    tfoot td{
        padding: 8px 24px;
    }

    .product-total{
        text-align: right;
    }

    .cart-subtotal,
    .order-total{
        td{
            text-align: right;
        }
    }
}
.wc_payment_methods{
    padding: 0px;
}

.woocommerce-message::before, .woocommerce-info::before, .woocommerce-error::before, .woocommerce-noreviews::before, p.no-comments::before {
    font-family: "Font Awesome 5 Free";
    content: "";
    display: inline-block;
    position: absolute;
    top: 1.05em;
    left: 1.5em;
    color: rgb(255, 255, 255);

   
}

input[type=checkbox] {
    display: inline-block !important;
}