@use "../config/variable" as *;
@use '../config/mixin' as *;

.navbar-custom{
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0px;
    background-color: $white;
    transition: 0.4s ease;
    z-index: 20;
    border-bottom: 1px solid $gray-150;
    .container-fluid{
        padding: 0px 50px;
    }
    .navbar-nav{
        .nav-item{
            .nav-link{
                display: block;
                position: relative;
                padding: 30px 24px;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.9px;
                text-transform: uppercase;
                color: $gray-700;

                &:focus{
                    outline: none;
                }

                .wishlist-count,
                .mini-cart-count{
                    position: absolute;
                    top: 40%;
                    left: 52%;
                    background: red;
                    width: 16px;
                    height: 16px;
                    line-height: 16px;
                    line-height: 16px;
                    text-align: center;
                    border-radius: 100%;
                    color: $white;
                    font-size: 12px;
                }

                &--bg{
                    @extend .nav-link;
                    height: 100%;
                    background-color: $primary;
                    color: $white ;
                    &:hover{
                        color: $white
                    }
                }
                &--search{
                    @extend .nav-link;
                    padding-right: 0px;
                }
            }
        }
    }
    &__top{
        text-align: right;
        .navbar-nav{
            .nav-item{
                &:last-child  .nav-link{
                    padding-right: 0px;
                }
                .nav-link{
                    padding: 8px 24px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 1.5;
                    letter-spacing: 0.9px;
                    text-transform: uppercase;
                    color: $gray-700;

                   
                }
            }
        }
    }

    &__top-menu{
        margin: 0px;  
        padding: 0px 50px;
        justify-content: flex-end;
        border-bottom: 1px solid $gray-150;
        list-style: none; 
       
        .dropdown-menu{
            min-width: 70px;
            top: 35px;
            border-radius: 0px;
            padding: 0px;
            left: auto;
            right: 0px;
            .lang-item{
                width: 100%;
            }
        }
    }

    &__top-item{
        display: inline-block;
    }

    &__top-link{
        display: inline-block;
        padding: 9.5px 27px;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #29292A;
    }
    &__action-icon{
        vertical-align: middle;
    }

    @media only screen and (max-width:1399px) {
        .container-fluid{
            padding: 0px 32px;
        }
        .navbar-nav{
            .nav-item{
                .nav-link{
                    padding: 30px 20px;
                    font-size: 14px;
                    &--search{
                        padding-right: 0px;
                    }
                }
            }
        }
        &__top{
            .navbar-nav{
                .nav-item{
                    &:last-child  .nav-link{
                        padding-right: 0px;
                    }
                    .nav-link{
                        padding: 8px 18px;
                        font-size: 14px;
                    }
                }
            }
        }
        &__top-menu{
            margin: 0px;  
            padding: 0px 32px;
        }
    }

    @media only screen and (max-width: 1199.98px) {
        .navbar-nav{
            .nav-item{
                .nav-link{
                    padding: 25px 14px;
                    font-size: 12px;
                    &--search{
                        padding-right: 0px;
                    }
                }
            }
        }
        &__top{
            .navbar-nav{
                .nav-item{
                    &:last-child  .nav-link{
                        padding-right: 0px;
                    }
                    .nav-link{
                        padding: 8px 14px;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 991.98px) {
        &__top{
            display: none;
        }
    }
}

.navbar-brand{
    display: inline-block;
    margin: 0px;
    padding: 15px 0px;
    transition: 0.4s ease;
    img{
        max-width: 150px;
        height: auto;
    }
    @media only screen and (max-width: 1399.98px) {
        img{
            max-width: 120px;
            height: auto;
        }
    }
    @media only screen and (max-width: 1199.98px) {
        img{
            max-width: 100px;
            height: auto;
        }
    }
}
.navbar .megamenu{ 
    padding: 1rem; 
    border-radius: 0px;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
    .navbar .has-megamenu{
        position:static;
    }
    .navbar .megamenu{
        left:0; 
        right:0; 
        width:100%; 
    margin-top:0;  }

}	
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media(max-width: 991px){
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
    overflow-y: auto;
      max-height: 90vh;
      margin-top:10px;
  }
}
/* ============ mobile view .end// ============ */


