@use "../config/variable" as *;
@use "../config/mixin" as *;
/*-----------------------------------------
/////////////// PAGE HEADER ///////////////
-----------------------------------------*/

.page-header {
	@include imageRatio(1920,469);
	position: relative;

	&__image-container{
		background: linear-gradient(90deg, #1D242D 0%, rgba(29, 36, 45, 0) 100%);
	}
	&__image{
		opacity: 0.4;
	}
	&__info{
		position: absolute;
		bottom: 8px;
		left: 50%;
		transform: translateX(-50%);
		color: $white;
	}

	&__title{
		font-weight: 500;
		font-size: 64px;
		letter-spacing: 1.8px;
		text-transform: uppercase;
		color: $white;
	}
}
/*-----------------------------------------
/////////////////////////// PAGE HEADER END
-----------------------------------------*/