.entry-header{
    padding: 80px 0px 0px 0px;
    font-weight: 500;
    font-size: 64px;
    line-height: 128px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #607D8B;
}