// MY THEME COLORS
$purple-dark: #9926f0;
$purple-light: #bb6ef5;
$pink: #d122e3;
$footer: #151414;

$blue-gray:#607D8B;

$green-100:#D3DFD8;
$green-200:#16B056;
$green-300:#06AB4B;
$green-400:#0C833E;
$green-500:#144E2D;
$green-600:#114728;
$green-700:#08381D;

$brown-100:#C19E74;
$brown-400:#231F20;

$primary: $blue-gray;
$secondary:$green-100;

//WHITE AND GRAY COLOR
$white: #fff;
$gray-50: #fcfcfc;
$gray-100: #f6f6f6;
$gray-150: #efefef;
$gray-200: #e5e5e5;
$gray-300: #dddddd;
$gray-400: #cfcfcf;
$gray-500: #adb5bd;
$gray-600: #777D7A;
$gray-700: #6c757d;
$gray-800: #4a4a4a;
$gray-900: #343a40;
$gray-1000: #212529;

$black-200: #303030;
$black-300: #333333;
$black-400: #383838;
$black-500:#252826;
$black: #000000;

$border-color:#ECECEC;




$cubic: cubic-bezier(0.44, 0.43, 0, 1.85);
$cubic2: cubic-bezier(0.31, 0.42, 0, 1.39);


$primary-gradient:linear-gradient(45deg, #d001fe 0%, #1aa1d9 100%);

$primary-font: 'Kozuka Gothic Pro', sans-serif !important;



///////////////////////////////////////////////////////////////////////////////////
//DARK VARIABLE
///////////////////////////////////////////////////////////////////////////////////

$dark:#1c211f;
$dark-secondary:#2f3733;

$box-shadow: -1px 1px 15px 0px rgba(10, 10, 10, 0.24);
$box-shadow-100: 1px 1px 22px -3px rgba(0, 0, 0, 0.13);
$box-shadow-200: 0px 3px 15px rgba(0, 0, 0, 0.05);