///////////////////////////////////////////////////////////////////////////////////
//THEME COLOR VARIABLE
///////////////////////////////////////////////////////////////////////////////////
$blue-gray:#607D8B;

$white: #fff;
$gray-50: #fcfcfc;
$gray-100: #e6f6f6;
$gray-150: #ececec;
$gray-200: #e0e0e0;
$gray-300: #dddddd;
$gray-400: #cfcfcf;
$gray-500: #adb5bd;
$gray-600: #afbec5;
$gray-700: #676A6C;
$gray-800: #4a4a4a;
$gray-900: #343a40;
$gray-1000: #212529;

$black-200: #303030;
$black-300: #333333;
$black-400: #383838;
$black-500:#29292A;
$black: #000000;
        
$red-100:#eb5757;

$primary: $blue-gray;

///////////////////////////////////////////////////////////////////////////////////
//fONT VARIABLE
///////////////////////////////////////////////////////////////////////////////////
$primary-font: 'Kozuka Gothic Pro', sans-serif !important;


///////////////////////////////////////////////////////////////////////////////////
//BORDER VARIABLE
///////////////////////////////////////////////////////////////////////////////////
$border-color:$gray-150;

///////////////////////////////////////////////////////////////////////////////////
//DARK VARIABLE
///////////////////////////////////////////////////////////////////////////////////
$dark:#1c211f;
$dark-secondary:#2f3733;


///////////////////////////////////////////////////////////////////////////////////
//BOX SHADOW VARIABLE
///////////////////////////////////////////////////////////////////////////////////
$box-shadow: -1px 1px 15px 0px rgba(10, 10, 10, 0.24);
$box-shadow-100: 1px 1px 22px -3px rgba(0, 0, 0, 0.13);
$box-shadow-200: 0px 3px 15px rgba(0, 0, 0, 0.05);


///////////////////////////////////////////////////////////////////////////////////
//TRANSITION VARIABLE
///////////////////////////////////////////////////////////////////////////////////
$cubic: cubic-bezier(0.44, 0.43, 0, 1.85);
$cubic2: cubic-bezier(0.31, 0.42, 0, 1.39);