//@use 'node_modules/bootstrap/scss/bootstrap';

//@use "vendor/_woocommerce.scss";
@use "_custom.scss";
@use "base/_reset.scss";
@use "base/_animations.scss";
@use "base/_typography.scss";
@use "pages/woocommerce/_general.scss";
@use "layout/_header.scss";
@use "layout/_page-header.scss";
@use "layout/_main.scss";
@use "layout/_footer.scss";
@use "layout/_section.scss";
@use "layout/_form.scss";
@use "sections/_booking-box.scss";
@use "components/_breadcrumb.scss";
@use "components/_buttons.scss";
@use "components/_social-icon.scss";
@use "components/_modal.scss";
@use "components/_burgermenu.scss";
@use "components/_pagination.scss";
@use "components/_loader.scss";
@use "components/_cart.scss";
@use "components/_offCanvas.scss";
@use "components/cards/_card-nav-category.scss";
@use "components/_custom-select2.scss";

@media (min-width: 576px){
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 90%;
    }
}

@media only screen and (max-width: 575.98px) {
    .container{
        padding: 0 36px;
    }
}

.offcanvas-backdrop{
    z-index: 18;
}

.lazyloaded{
    transition: all 400ms !important;
}

.not-found{
    font-size: 18px;

    @media only screen and (max-width: 991.98px) {
        font-size: 16px;
    }
}

.grecaptcha-badge{
    display: none;
}

//shop loader
#woof_svg_load_container{
    width: 50px !important;
    height: 50px !important;
}

.quantity {
    margin-right: 10px;
    .form-control {
        height: 70px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    border-left: none;
    border-right: none;
    text-align: center;
    font-size: 20px;
    &:focus {
        box-shadow: none;
    }
    }
    .btn-minus,
    .btn-plus {
        width: 50px;
        position: relative;
        &::after {
            content: "";
            width: 20px;
            height: 20px;
            background-size: 20px;
            background-repeat: no-repeat;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .btn-minus {
        border-top: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
        border-left: 1px solid #ececec;
        border-right: none;
        &::after {
            background-image: url('/images/icon/minus.svg');
        }
    }
    .btn-plus {
        border-top: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
        border-left: none;
        border-right: 1px solid #ececec;
        border-radius: 0;
        &::after {
            background-image: url('/images/icon/plus.svg');
        }
    }
}

// .product .summary .yith-wcwl-add-to-wishlist.exists .yith-wcwl-wishlistaddedbrowse{
//     display: block!important;
// }
// .products .product .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse .feedback {
//     display: none;
// }

.yith-wcwl-wishlistexistsbrowse .feedback{
    display: none;
}

.yith-wcwl-wishlistaddedbrowse a{
    display: none;
}


